body {
	margin: 0;
	font: normal 16px/24px Arial, 'Roboto', sans-serif;
}
p {
	margin: 0;
}
.container {
	width: 1168px;
	margin: 0 auto;
	padding: 16px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.div-popup {
	position: fixed;
	top: 300px;
	left: 50%;
	margin-left: -250px;
	width: 450px;
	background: #fff;
	border-radius: 10px;
	padding: 25px;
	color: #000;
}
/* popup */
.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
	
}
.popup-desk.active {
	display: block;
}
.popup {
	position: absolute;
	left: calc(50% - 150px);
	top: 300px;
	width: 300px;
	background: #fff;
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}
input[type="text"], input[type="password"] {
	width: 200px;
	height: 30px;
	border: 1px solid #000;
	box-sizing: border-box;
}
.popup-header{
	font-weight: 700;
	color: #ce37ff;
}
button {
	width: 100px;
	height: 40px;
	background: #ce37ff;
	color: #fff;
	font: inherit;
	cursor: pointer;
}
.gorod p {
	text-align: center;
	margin-bottom: 10px;
}
.gorod button {
	border: none;
	color: white;
	width: calc(50% - 10px);
}
.gorod button:first-of-type {
	background: pink;
	margin: 0 10px 0 0;
}
.gorod button:last-of-type {
	background: #ce37ff;
	margin: 0 0 0 10px;
}
.popup.lightbox {
	left: 30px;
	right: 30px;
	top: 30px;
	width: auto;
}
.lightbox img {
	max-width: 100%;
}
.cross {
	position: absolute;
	right: 10px;
	top: 5px;
	color: red;
	font: bold 30px Arial;
	transform: rotate(45deg);
	cursor: pointer;
}
/* header */
.topheader .container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
	height: 100px;
}
.topheader {
	background: #2a1047;
	color: #fff;
	
}
.bottomheader {
	background: #ce37ff;
	color: #fff;
}

#yourcity {
	cursor: pointer;
}
.topmenu {
	text-align: center;
}
.topmenu a {
	text-decoration: none;
	padding: 10px;
	white-space: nowrap;
}
.line-point {
	color: #fff;
	width: 150px;
}
.pulldown-point {
	color: #000;
	background: #fff;
	display: block;
	text-align: center;
	
}
.menupoint {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	border: 1px solid #fff;
	border-radius: 10px;
	width: 150px;
}
.menupoint > span {
	display: none;
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	background: #ddd;
}
.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
}
.menupoint:hover {
	border-color: #000;
	background: #fff;
	z-index:1;
}
.menupoint:hover .line-point {
	color: #ce37ff;
}
.pulldown-point:hover {
	background: #ce37ff;
	color: #fff;
}

#carouselExampleControls{
	width: 1000px;
	margin: auto;
	padding:10px;
}
.basket {
	float: right;
	margin: 30px 0 30px 50px;
	border: 1px solid #000;
	line-height: 40px;
}
.basket-label {
	position: absolute;
	top: 80px;
	right: 0;
	display: none;
	opacity: 0;
	transition: opacity 5s ease;
}
.basket:hover + .basket-label {
	display: block;
	opacity: 1;
	transition: opacity 5s ease;
}
/* slider */
.slider {
    position: relative;
    width: 1000px;
    height: 500px;
    overflow: hidden;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 500px;
}

.slide img {
    width: 1000px;
    height: 500px;
}
.rule {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1;
}
.slider:hover .rule {
    display: block;
}
.rule span {
    position: absolute;
    top: calc(50% - 17px);
    cursor: pointer; /* курсор показывает, что тут активный элемент */
    user-select: none; /* запрещаем выделение текста - кнопка не "синеет", как по ней ни кликай*/
    font-size: 30px;
    width: 34px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
}
.left {
    left: 5%;
}
.right {
    right: 5%;
}
/* main */
main {
	flex: 1 1 auto;
	background: #fff;
}

/* footer */
footer {
	background: #2a1047;
	color: #fff;
	height: 300px;
	padding:10px;
}
.topfooter{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
	align-items: center;
}
footer .container {
	justify-content: space-around;
	gap: 30px;
	font: 15px/25px,sans-serif;
}
.title{
	font: bold 30px 'Roboto', sans-serif;
	cursor: pointer;
}
.title a{
	text-decoration: none;
	color: #fff;

}
.item{
	opacity: 0.6;
}
.bottomfooter{
	opacity: 0.6;
}

/* catalog */
.catalog {
	display: flex;
	gap:8px;
	padding: 16px;
}

.cat-blocks {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap:8px;
}
.cat-unit {
	height: 430px;
	width: 250px;
	background: pink;
}
.photo{
	padding:10px 25px 0;
	cursor: pointer;
	}
.photo:hover { 
	width:260px; 
	transition: transform .2s;
}
.basket_catalog {
	height:35px;
	width:200px;
	margin: 0 25px;
}
.product-name{
	text-align: center;
}
.price {
	text-align: center;
}
/* order */
.order {
	width: 100%;
}
.nihil {
	display: none;
}
.empty .nihil {
	display: block;
}
.empty .table,
.empty #orderdata {
	display: none;
}
.rub:after, .sum:after, .allsum:after {
	content: ' \20bd';
}
.num input {
	border: 0;
	width: 50px;
}
.del {
	width: 60px;
}
.del > div {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	text-align: center;
	font: normal 24px/24px Arial;
	transform: rotate(45deg);
	transform-origin: center;
	background: #ce37ff;
	color: white;
	cursor: pointer;
}
.order .button{
	width: 200px;
	height: 40px;
	background: #ce37ff;
	color: #fff;
	font: inherit;
	cursor: pointer;
}
textarea{
	width: 200px;
	border: 1px solid #000;
	box-sizing: border-box;
}
/* calendar */

.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
	
}
.popup-desk.active {
	display: block;
}
.popup {
	position: absolute;
	left: calc(50% - 150px);
	top: 300px;
	width: 300px;
	background: #fff;
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}

.popup table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
}
.popup th {
	width: 50px;
	box-sizing: border-box;
	border: none;
	font-weight: bold;
}
.popup td {
	text-align: center;
	width: 50px;
	box-sizing: border-box;
	border: 1px solid black;
	cursor: pointer;
}
.popup td:hover {
	background:pink;
}

.popup .holiday {
	border-color: red;
	color: red;
}
.popup .today {
	background: #ce37ff;
	color: white;
}
.popup .selected {
	background: pink;
	color: white;
}
.popup .header {
	display: flex;
	justify-content: space-between;
}
.popup .header span {
	display: block;
	height: 30px;
	width: 30px;
	cursor: pointer;
	font-size: 30px;
}
/* aside */
aside{
	flex: none;
	width: 180px;
	height:720px;
	background: #ce37ff;
	color: #fff;
	padding: 10px;
}
/*.catmenu {
	padding: 16px;
} */
.catmenu_item {
	padding: 0 20px 10px;
	position: relative;
}

.catmenu_item:before {
	content: '=>';
	position: absolute;
	left: 0;
}
.catmenu_item a {
	display: block;
	color: #fff;
	text-decoration: none;
}
.catmenu_item a:hover {
	text-decoration: underline;
}
.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	transition: all 1s ease;
}
.open .submenu_mover {
	transform: rotate(180deg);
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 20px;
}
.submenu a:before {
	content: '->';
	position: absolute;
	left: 0;
}
/* product */
.product {
	width: 100%;
}
.gallery-desk {
	float: left;
	margin-right: 10px;
}
.main-image {
	padding: 24px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 25px;
	cursor: pointer;
}
.gallery {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.small-image {
	padding: 4px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}
.description-desk{
	margin: 20px;
	width:
}
.inbasket {
	width: 200px;
}
/* contacts */
main .container {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
.contact_label{
	font:  30px 'Roboto', sans-serif;
}
/* different screens */
@media (min-width: 576px) {
	.cat-blocks {
		gap: 32px;
	}
	aside {
		width: 260px;
	}
	.catalog {
		gap: 16px;
	}
}
@media (min-width: 768px) {
	.cat-blocks {
		gap: 4px;
	}
}
@media (min-width: 992px) {
	.cat-blocks {
		gap: 10px;
	}
}
@media (min-width: 1200px) {
	.cat-blocks {
		gap: 22px;
	}
}
@media (min-width: 1400px) {
	.cat-blocks {
		gap: 14px;
	}
}