body {
	margin: 0;
	font: normal 16px/24px Arial, 'Roboto', sans-serif;
}
p {
	margin: 0;
}
.container {
	width: 1168px;
	margin: 0 auto;
	padding: 16px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.div-popup {
	position: fixed;
	top: 300px;
	left: 50%;
	margin-left: -250px;
	width: 450px;
	background: #fff;
	border-radius: 10px;
	padding: 25px;
	color: #000;
}
/* popup */
.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: .3;
}
.popup-desk.active {
	display: block;
}
.popup {
	position: absolute;
	left: calc(50% - 150px);
	top: 300px;
	width: 300px;
	background: #fff;
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}
input[type="name"] {
	width: 200px;
	height: 50px;
	border: 1px solid #000;
	box-sizing: border-box;
	border-radius: 10px;
}
input[type="password"] {
	width: 200px;
	height: 50px;
	border: 1px solid #000;
	box-sizing: border-box;
	border-radius: 10px;
}
button {
	width: 100px;
	height: 40px;
	background: #fff;
	color: #ce37ff;
	font: inherit;
	cursor: pointer;
}
/* header */
.topheader .container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
}
.topheader {
	background: #2a1047;
	color: #fff;
	
}
.bottomheader {
	background: #ce37ff;
	color: #fff;
}
.
#yourcity {
	cursor: pointer;
}
.topmenu {
	text-align: center;
}
.topmenu a {
	text-decoration: none;
	padding: 10px;
	white-space: nowrap;
}
.line-point {
	color: #fff;
}
.pulldown-point {
	color: #000;
	background: #fff;
	display: block;
	text-align: center;
	
}
.menupoint {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	border: 1px solid #fff;
	border-radius: 10px;
}
.menupoint > span {
	display: none;
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	background: #ddd;
}
.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
}
.menupoint:hover {
	border-color: #000;
	background: #fff;
	z-index:2;
}
.menupoint:hover .line-point {
	color: #ce37ff;
}
.pulldown-point:hover {
	color: #000;
}
#carouselExampleControls{
	width: 1000px;
	margin: auto;
	padding:10px;
}
.basket {
	float: right;
	margin: 30px 0 30px 50px;
	border: 1px solid #000;
	line-height: 40px;
}
.basket-label {
	position: absolute;
	top: 80px;
	right: 0;
	display: none;
	opacity: 0;
	transition: opacity 5s ease;
}
.basket:hover + .basket-label {
	display: block;
	opacity: 1;
	transition: opacity 5s ease;
}

/* main */
main {
	flex: 1 1 auto;
	background: #fff;
}

/* footer */
footer {
	background: #2a1047;
	color: #fff;
	height: 300px;
	padding:10px;
}
.topfooter{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
	align-items: center;
}
footer .container {
	justify-content: space-around;
	gap: 30px;
	font: 15px/25px,sans-serif;
}
.title{
	font: bold 30px 'Roboto', sans-serif;
}
.item{
	opacity: 0.6;
}
.bottomfooter{
	opacity: 0.6;
}

/* catalog */
.catalog {
	display: flex;
	gap:8px;
}

.cat-blocks {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap:8px;
}
.cat-unit {
	height: 300px;
	width: 350px;
	background: pink;
}


/* aside */
aside{
	flex: none;
	width: 180px;
	height:720px;
	background: #ce37ff;
	color: #fff;
	margin: 10px;
}
.catmenu {
	padding: 16px;
}
.catmenu_item {
	padding: 0 20px 10px;
	position: relative;
}

.catmenu_item:before {
	content: '=>';
	position: absolute;
	left: 0;
}
.catmenu_item a {
	display: block;
	color: #fff;
	text-decoration: none;
}
.catmenu_item a:hover {
	text-decoration: underline;
}
.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	transition: all 1s ease;
}
.open .submenu_mover {
	transform: rotate(180deg);
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 20px;
}
.submenu a:before {
	content: '->';
	position: absolute;
	left: 0;
}
/* different screens */
@media (min-width: 576px) {
	.cat-blocks {
		gap: 32px;
	}
	aside {
		width: 260px;
	}
	.catalog {
		gap: 16px;
	}
}
@media (min-width: 768px) {
	.cat-blocks {
		gap: 4px;
	}
}
@media (min-width: 992px) {
	.cat-blocks {
		gap: 10px;
	}
}
@media (min-width: 1200px) {
	.cat-blocks {
		gap: 22px;
	}
}
@media (min-width: 1400px) {
	.cat-blocks {
		gap: 14px;
	}
}